node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
**/build
.git
.github
.vscode
.idea
.DS_Store
*.log
**/*.log
coverage
**/coverage
.env
**/.env
.env.*
**/.env.*
!.env.example
*.md
!README.md
!CONTRIBUTING.md
playwright-report
test-results
.turbo
**/.turbo
